.App {
  text-align: center;
}
/* -------------------------------FUentes--------------------- */
@font-face {
  font-family: Tiffany;
  src: url(/src/assets/fonts/ITCTiffanyLTHeavy.ttf);
}
@font-face {
  font-family: Bodoni;
  src: url(/src/assets/fonts/LTCBodoni175W01Regular.ttf);
}
@font-face {
  font-family: BrandonMed;
  src: url(/src/assets/fonts/Brandon_med.otf);
}
@font-face {
  font-family: BrandonLight;
  src: url(/src/assets/fonts/Brandon_light.otf);
}
/* -------------------------------NAvbar--------------------- */
.navbar {
  margin-top: 4em;
}
.navbar-brand {
  font-family: Tiffany;
  font-size: 45px;
}
.navbar-brand span {
  font-family: BrandonLight;
  line-height: 43.5px;
  letter-spacing: 5.4px;
}
.collapse {
  display: flex;
  justify-content: end;
  font-family: Bodoni;
}
.facelogo {
  width: 60px;
  margin: 0 0 0 15px;
}

/* -------------------------------HOme--------------------- */
.home {
  margin-top: 6em;
}
.home h1 {
  font-family: Brandon;
  line-height: 43.5px;
  letter-spacing: 5.4px;
  font-size: 33px;
}

.home h4 {
  font-family: Bodoni;
  letter-spacing: 2px;
  margin: 15px 0 30px 0;
  font-size: 25px;
}
.banerhome {
  width: 80em;
  margin: 20px 0 30px 0;
}
.button-about {
  display: grid;
  padding: 0;
}
.button-about button {
  border-left: hidden;
  border-right: hidden;
  border-color: #c8c9ca;
  border-radius: 0;
  padding: 8px 0 8px 0;
}
/* -------------------------------ABout ME--------------------- */
.aboutme {
  margin-top: 6em;
  text-align: center;
}
.aboutme h1 {
  font-family: Brandon;
  line-height: 43.5px;
  letter-spacing: 5.4px;
  font-size: 33px;
}
.aboutme h4 {
  font-family: Bodoni;
  letter-spacing: 2px;
  margin: 15px 0 30px 0;
  font-size: 20px;
}
.imgCoffee {
  width: 20em;
}
.aboutme p {
  font-family: Bodoni;
  font-size: 20px;
  line-height: 32.7667px;
  vertical-align: baseline;
  letter-spacing: 0.175px;
  margin: 45px 0 45px 0;
}
/* .es {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  height: 20px;
  width: 25px;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
} */
/* -------------------------------POrtafolio--------------------- */
.portafolio {
  margin: 10px 0 45px 0;
}
.portafolio h1 {
  font-family: Brandon;
  font-size: 30px;
  line-height: 43.5px;
  letter-spacing: 5.4px;
  margin: 40px 0 40px 0;
}
.cards {
  width: 19em;
  margin: 20px 40px 20px 40px;
}
.card-port {
  /* display: flex;
  flex-wrap: wrap;
  align-self: auto;
  justify-content: center; */

  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 500px;
  max-height: 1200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

  /* max-height: 1700px;
  max-width: 800px;

  margin: 0 auto;
  min-height: 500px;

  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start; */
}
.portPagesSubTitle a {
  color: #333333;
  text-decoration: none;
}
.card-body {
  text-align: justify;
}
.card-title {
  font-family: Bodoni;
  margin: 15px 0 8px 0;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.link-to {
  font-family: BrandonLight;
  font-size: 16px;
  align-items: baseline;
  text-decoration: none;
  color: #333333;
  letter-spacing: 0.18px;
}
a:hover {
  color: black;
}
.link-to ion-icon {
  vertical-align: middle;
}
.link-to ion-icon:hover {
  color: royalblue;
}
.date-made {
  font-family: Bodoni;
  font-size: 16px;
  color: grey;
  margin: 8px 0 0 0;
  letter-spacing: 0.18px;
}
.portafolio button {
  border-radius: 0;
}
.card-port {
  display: flex;
}
/* -------------------------------COntact--------------------- */

.wrapper {
  margin: 20px 0 20px 0;
  padding: 0;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}
.wrapper span {
  margin-top: 5px;
}
.wrapper a {
  text-decoration: none;
  color: #333333;
}
.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .brand:hover,
.wrapper .brand:hover .tooltip,
.wrapper .brand:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
/* -------------------------------FOoter--------------------- */
.footer {
  text-align: center;
}
.footer span {
  font-family: Bodoni;
}
.footer p {
  font-family: BrandonLight;
  font-size: 20px;
  color: grey;
}
.footer button {
  border-radius: 50px;
  margin: 40px 0 40px 0;
}
.arrow-up-sharp {
  text-decoration: none;
}
.footer ion-icon {
  text-decoration: none;
  color: black;
  vertical-align: text-bottom;
}
.footer ion-icon:hover {
  color: #ffffff;
}

/* -------------------------------Pages POrtafolio--------------------- */
.contentPort {
  margin: 60px 0 60px 0;
}
.portPagesTitle {
  font-family: Bodoni;
  text-align: center;
  font-size: 40px;
  margin: 4em 0 60px 0;
  letter-spacing: 0.4px;
}
.portPagesSubTitle {
  font-family: Bodoni;
  margin: 0 0 15px 0;
  font-size: 25px;
}
.portPagesContent {
  font-family: BrandonLight;
}

.page-item {
  text-align: end;
  font-size: 15px;
  font-family: BrandonLight;
}

.page-item span {
  font-family: Bodoni;
  font-size: 25px;
  letter-spacing: 0.4px;
  margin: 40px 0 0 0;
}
.page-link a {
  text-align: justify;
}
.paginations {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
/* ion-icon {
  text-decoration: none;
  color: black;
  vertical-align: text-bottom;
} */
/* ion-icon:hover {
  color: #ffffff;
} */
/* -------------------------------REsponsive--------------------- */
@media screen and (max-width: 1400px) {
  .banerhome {
    width: inherit;
  }
}
@media screen and (max-width: 1200px) {
  .card-port {
    max-height: 1700px;
    max-width: 800px;
  }
}
@media screen and (max-width: 991px) {
  .card-port {
    max-height: 1600px;
    max-width: 850px;
  }
  .cards {
    width: 17em;
    margin: 15px 35px 15px 35px;
  }
  .collapse {
    display: flex;
    justify-content: end;
    text-align-last: center;
    font-family: Bodoni;
  }
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 768px) {
  .card-port {
    max-height: 1300px;
    max-width: 1000px;
  }
  .cards {
    width: 14em;
    margin: 12px 15px 12px 15px;
  }
  .collapse {
    display: flex;
    justify-content: end;
    text-align-last: center;
    font-family: Bodoni;
  }
  .navbar-collapse {
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 575px) {
  .home h1 {
    font-size: 28px;
  }
  .portafolio h1 {
    font-size: 28px;
  }
  .card-port {
    max-height: 1300px;
    max-width: 500px;
  }
  .cards {
    width: 13em;
    margin: 12px 12px 12px 12px;
  }
  .navbar-brand {
    font-size: 35px;
  }
  .home {
    margin-top: 4em;
  }
  .navbar {
    margin-top: 2em;
  }
  .navbar > .container-fluid {
    justify-content: center;
    text-align: center;
  }
  .collapse {
    display: block;
  }
  .portPagesTitle {
    margin: 45px 0 45px 0;
  }
}
@media screen and (max-width: 487px) {
  .card-port {
    max-height: 3000px;
    max-width: 380px;
  }
  .cards {
    width: 20em;
    margin: 12px 20px 12px 20px;
  }
  .home h1 {
    font-size: 24px;
  }
  .home h4 {
    font-size: 20px;
    margin: 0 0 15px 0;
  }
  .portafolio h1 {
    font-size: 24px;
    margin: 15px 0 15px 0;
  }
  .banerhome {
    margin: 0 0 15px 0;
  }

  .navbar {
    margin-top: 2em;
  }
  .navbar > .container-fluid {
    display: inline-grid;
    justify-content: center;
    text-align: center;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-brand {
    font-size: 30px;
    margin: 0;
  }
  .facelogo {
    display: none;
  }
  .home {
    margin-top: 4em;
  }
  .imgCoffee {
    width: 19em;
    margin: 0;
  }
  .aboutme h1 {
    font-size: 25px;
  }
  .aboutme p {
    font-size: 17px;
    line-height: 25px;
    margin: 30px 0 30px 0;
  }
  .portPagesTitle {
    font-size: 30px;
    margin: 45px 0 45px 0;
  }
  .portPagesSubTitle {
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
  }
  .portPagesSubTitle a {
    width: 30px;
  }
  .page-item span {
    font-size: 20px;
    margin: 40px 0 0 0;
  }
  .footer p {
    font-size: 19px;
  }
}
@media screen and (max-width: 390px) {
  .card-port {
    max-height: 3000px;
    max-width: 500px;
  }
  .cards {
    width: 20.5em;
    margin: 12px 20px 12px 20px;
  }
  .home h1 {
    font-size: 20px;
  }
  .home h4 {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
  .portafolio h1 {
    font-size: 20px;
    margin: 15px 0 15px 0;
  }
  .banerhome {
    margin: 0 0 15px 0;
  }

  .navbar {
    margin-top: 2em;
  }
  .navbar > .container-fluid {
    display: inline-grid;
    justify-content: center;
    text-align: center;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-brand {
    font-size: 30px;
    margin: 0;
  }
  .facelogo {
    display: none;
  }
  .home {
    margin-top: 4em;
  }
  .imgCoffee {
    width: 17em;
    margin: 0;
  }
  .aboutme h1 {
    font-size: 25px;
  }
  .aboutme p {
    font-size: 17px;
    line-height: 25px;
    margin: 30px 0 30px 0;
  }
  .portPagesTitle {
    font-size: 30px;
    margin: 45px 0 45px 0;
  }
  .portPagesSubTitle {
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
  }
  .portPagesSubTitle a {
    width: 30px;
  }
  .page-item span {
    font-size: 20px;
    margin: 40px 0 0 0;
  }
  .footer p {
    font-size: 19px;
  }
}
@media screen and (max-width: 360px) {
  .card-port {
    max-height: 3000px;
    max-width: 500px;
  }
  .cards {
    width: 18.5em;
    margin: 12px 20px 12px 20px;
  }
  .home h1 {
    font-size: 20px;
  }
  .home h4 {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
  .portafolio h1 {
    font-size: 20px;
    margin: 15px 0 15px 0;
  }
  .banerhome {
    margin: 0 0 15px 0;
  }

  .navbar {
    margin-top: 2em;
  }
  .navbar > .container-fluid {
    display: inline-grid;
    justify-content: center;
    text-align: center;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-brand {
    font-size: 30px;
    margin: 0;
  }
  .facelogo {
    display: none;
  }
  .home {
    margin-top: 4em;
  }
  .imgCoffee {
    width: 17em;
    margin: 0;
  }
  .aboutme h1 {
    font-size: 25px;
  }
  .aboutme p {
    font-size: 17px;
    line-height: 25px;
    margin: 30px 0 30px 0;
  }
  .portPagesTitle {
    font-size: 30px;
    margin: 45px 0 45px 0;
  }
  .portPagesSubTitle {
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
  }
  .portPagesSubTitle a {
    width: 30px;
  }
  .page-item span {
    font-size: 20px;
    margin: 40px 0 0 0;
  }
  .footer p {
    font-size: 19px;
  }
}
@media screen and (max-width: 280px) {
  .card-port {
    max-height: 3000px;
    max-width: 500px;
  }
  .cards {
    width: 14.4em;
    margin: 12px 15px 12px 15px;
  }
  .home h1 {
    font-size: 20px;
  }
  .home h4 {
    font-size: 18px;
    margin: 0 0 15px 0;
  }
  .portafolio h1 {
    font-size: 20px;
    margin: 15px 0 15px 0;
  }
  .banerhome {
    margin: 0 0 15px 0;
  }

  .navbar {
    margin-top: 2em;
  }
  .navbar > .container-fluid {
    display: inline-grid;
    justify-content: center;
    text-align: center;
  }
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-brand {
    font-size: 30px;
    margin: 0;
  }
  .facelogo {
    display: none;
  }
  .home {
    margin-top: 4em;
  }
  .imgCoffee {
    width: 15em;
    margin: 0;
  }
  .aboutme h1 {
    font-size: 22px;
  }
  .aboutme p {
    font-size: 17px;
    line-height: 25px;
    margin: 30px 0 30px 0;
  }
  .portPagesTitle {
    font-size: 30px;
    margin: 45px 0 45px 0;
  }
  .portPagesSubTitle {
    margin: 0 0 15px 0;
    font-size: 20px;
    text-align: center;
  }
  .portPagesSubTitle a {
    width: 30px;
  }
  .page-item span {
    font-size: 20px;
    margin: 40px 0 0 0;
  }
  .footer p {
    font-size: 19px;
  }
}
